* {
  margin: 0;
  padding: 0; }

header h1 a {
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  color: #e9ebdf; }

.navbar-brand,
.navbar-nav .nav-link {
  font-family: Arial, 'Times New Roman', Times, serif;
  font-size: 18px; }

.navbar-nav .nav-link:hover {
  background-color: #4df11b;
  border-radius: 10%;
  box-shadow: 0 0 10px; }

footer {
  background-color: #595e4e;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0%; }

.titulo {
  padding-top: 80px;
  margin-left: 700px; }

.video {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-top: 30px; }

.titulo {
  padding-top: 80px;
  margin-left: 700px; }

.contenedor {
  position: relative;
  width: 100%;
  display: inline-block; }

.imagen {
  display: block;
  width: 100%;
  height: auto; }

.opacidad-oscura {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.texto-superpuesto {
  position: absolute;
  top: 12%;
  left: 40%;
  transform: translate(-50%, 50%);
  color: white;
  text-align: start;
  z-index: 1; }

.boton {
  position: relative;
  bottom: 20px;
  padding: 10px 20px;
  background-color: #4343eb;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  top: 40px; }

.logo {
  width: 150px;
  height: 45px; }

.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 60px;
  z-index: 100; }

.fab.fa-whatsapp {
  font-size: 70px;
  color: green; }

#carouselExample {
  width: 75%;
  margin: auto;
  height: 60%;
  padding-top: 90px; }

.tarjetas {
  display: flex;
  position: relative;
  margin-top: 20px;
  height: auto;
  width: 90%;
  padding: 20px;
  padding-left: 160px; }

.tarjeta-imagen {
  width: 10%;
  height: fit-content; }

P {
  display: inline-block;
  margin-top: 150px;
  margin-left: 500px;
  font-family: 'Times New Roman', Times, serif; }

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

.aside,
.mapa {
  padding: 10px; }

h4,
p {
  margin: 0; }

.mapa {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
  padding-left: 50px; }

.aside {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 100px; }

h4 {
  padding-top: 20px;
  color: #006084; }

strong {
  padding-top: 20px; }

img {
  width: 600px;
  height: 350px; }

@media (max-width: 900px) {
  .section {
    display: flex;
    flex-direction: column; } }

@media (max-width: 900px) {
  .section .mapa {
    padding-top: 0%;
    padding-left: 100px; } }

@media (max-width: 900px) {
  img {
    padding-top: 0%;
    padding-left: 100px; } }

.fondo-3 {
  background: linear-gradient(to right, #008cff, #c0fff6); }

.curso {
  padding-top: 135px;
  padding-left: 150px; }

.cusroparac {
  width: fit-content;
  height: fit-content;
  padding-top: 10px;
  padding-left: 800px; }

.texto {
  display: flex;
  padding-top: 60px;
  padding-left: 120px;
  z-index: 144;
  width: 626px;
  min-height: auto;
  font-size: 15px;
  line-height: 25px;
  left: 287px; }

.fondo1 {
  background: linear-gradient(to right, #008cff, #da6fc7); }

.multimedia {
  display: flex;
  width: 95%;
  height: 900px;
  padding-top: 250px;
  padding-left: 95px; }

.multimedia img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5 ease; }

.multimedia img:hover {
  cursor: crosshair;
  width: 400px;
  opacity: 1;
  filter: contrast(120%); }
