.fondo-3 {
    background: linear-gradient(to right, rgb(0, 140, 255), rgb(192, 255, 246))
}

.curso {
    padding-top: 135px;
    padding-left: 150px;
}

.cusroparac {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    padding-left: 800px;
}

.texto {
    display: flex;
    padding-top: 60px;
    padding-left: 120px;
    z-index: 144;
    width: 626px;
    min-height: auto;
    font-size: 15px;
    line-height: 25px;
    left: 287px;
}