.multimedia {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.multimedia img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
}

.multimedia img:hover {
    cursor: grab;
    width: 450px;
    height: 600px;
    opacity: 1;
    filter: contrast(120%);
}

.titulo-GALERIA {
    padding-top: 80px;
    margin-left: 700px;
}