.titulo {
    padding-top: 80px;
    margin-left: 700px;
}

.video {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-top: 40px;
}

.titulo {
    padding-top: 80px;
    margin-left: 700px;
}